{% extends "adminInterface.html" %}

{% block content %}

{% if errors %}
    <!-- Display an alert with error messages if there are validation errors. -->
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if success %}
    <!-- Display a success message alert if a task is completed successfully. -->
    <div class="alert alert-success">
        Driver added successfully!
    </div>
{% endif %}


<body>
    <div class = "container mt-5">
        <h1 class="mb-4">Add New Driver</h1>

        <!-- Check if junior -->
        <form action="{{ url_for('add_driver') }}" method="post">
            <div class="form-group">
                <label for="is_junior">Is Junior:</label>
                <select name="is_junior" onchange="this.form.submit()" class="form-control">
                    <option value="no" {% if is_junior == 'no' %}selected{% endif %}>No</option>
                    <option value="yes" {% if is_junior == 'yes' %}selected{% endif %}>Yes</option>
                </select>
                <input type="hidden" name="form_submit_type" value="junior_change">
            </div>
        </form>

            <form action="{{ url_for('add_driver') }}" method="post">
            <!--Driver's First Name-->
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="{{ first_name if first_name is defined else '' }}" class="form-control" required>
            </div>

            <!--Driver's Surname-->
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" name="surname" value="{{ surname if surname is defined else '' }}" class="form-control" required>
            </div>

            <!-- Assign Car-->
            <div class="form-group">
                <label for="car">Assign Car:</label>
                <select class="form-control" id="car" name="car">
                    {% for car in car_list %}
                        <option value="{{car[1]}}">{{car[1]}} - {{ car[0]}}</option>
                    {% endfor %}
                </select>
            </div>

            {% if is_junior == 'yes' %}
            <!-- Fields for Junior Driver (hidden by default)-->
            <div class="form-group">
            <!-- Date of Birth-->
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" name="date_of_birth" class="form-control">
            </div>
            <!-- Caregiver -->
            <div class="form-group">
                <label for="caregiver">Caregiver:</label>
                <select name="caregiver" class="form-control">
                    <option value="">Select a Caregiver...</option>
                    {% for caregiver in caregiver_list %}
                        <option value="{{caregiver[0]}}" {% if caregiver[0] == caregiver_id %}selected{% endif %}>{{caregiver[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Add Driver</button>
        </form>
    </div>

</body>
{% endblock %}
